body{
   margin: 0px;
 }
a{
   color:CornflowerBlue;
   font-size: 15px;
   font-weight: bold;
}
h1{
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid SlateGrey;
  margin: 0;
  padding: 20px;
}
h4{
  color: MediumOrchid;
}
ul{
  color: DarkSalmon;
}
ol{
 border-right: 1px solid SlateGrey;
 width: 100px;
 margin: 0;
 padding: 20px;
}
#grid{
 display: grid;
 grid-template-columns: 150px 1fr;
}
#grid ol{
 padding-left: 33px;
}
#grid #article{
 padding-left: 22px;
}
@media(max-width: 800px){
 #grid{
   display: block;
 }
 #grid ol{
   border-right: none;
 }
 h1{
   border-bottom: none;
 }
